# Auto detect text files and perform LF normalization
* text=auto

<html>
<head>
<title> Open Stores </title>
</head>
<body>

<h1> Welcome to the best Open Stores in town </h1>
<p>Below is a list of items available. </p>
</body>



</html?
